body{
    background-image: url(img/SkyTileSprite.png);
    background-color: #000;
}
canvas{
    background-image: url(img/backplay.jpg);
    margin: auto;
    border: 1px solid black;
    display: block;
}
#inicio{
    border: 3px solid #000;
    background-image: url(img/backstart.gif);
    width: 480px;
    height: 520px;
    margin: auto;
    display: block;
    text-align: center;
}
#btnStart{
    background: rgb(17, 97, 216);
    color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    text-decoration: none;
    padding: 20px;

    position: absolute;
    margin: auto;
    left: 0px;
    right: 0px;
    width: 240px;

    border-radius: 25px;
    transition: box-shadow 1s, border-radius 1s;
}
#btnStart:hover{
    background: rgb(16, 13, 194);
    box-shadow: 20px 20px 90px #000;
    border-radius: 65px;
    overflow: hidden;
}
#container {
    width: 480px;
    height: 0px;
    position: absolute;
    top: 140px;
    left: 0px;
    right: 0px;
    bottom: 50px;
    margin: auto;

}